@import url('https://fonts.googleapis.com/css?family=Prompt:400,500,700&display=swap');

* {
  font-family: 'Prompt', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.navbar {
  padding: 0;
}

.jumbotron {
  background: #e2e6ea;
}

.fa {
  position: relative;
}

.active > a {
  color: blue !important;
}

.inner {
  max-width: 660px;
  margin: 0 auto;
}

/* header */
header {
  margin-bottom: 10px;
}

.divider {
  border-right: 1px solid #1e7e34; 
  height: 30px;
}

.icon-group {
  padding: 6px 12px;
  display: inline-block;
}

.icon-group > button {
  border:none;
  background-color: transparent;
  color: #fff;
}

.icon-group .notify {
  position: absolute;
  top:-20%;
  right:-15%;
  width: 8px;
  height:8px;
  background: #f00;
  border-radius: 50%;
}

/* /header */

/* profile */

#timeline-top-section {
  position: relative;
  margin-top: -25px;
  margin-bottom: 200px;
  width: 100%;
  height: auto;
  color: #fff;
  background: #28a745;
}

#update-profile {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 999;
}

.timeline-profile {
  text-align: center;
  color: #333;
  width: 100%;
  position: absolute;
  top: 220px;
  z-index: 0;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-image > img {
  width: 100%;
  height: 365px;
  object-fit: unset;
}

.avatar-image > a > img {
  border: 5px solid #28a745;
}

.timeline-headline {  
  height: 100%;
}

.user-name {
 margin: 8px 0;
}

.user-name > h4, .user-name h5 {
  font-weight: 400;
}

.info {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.info > li:not(:last-child) {
  margin-bottom: 10px;
}

.info > li > .fa {
  color: #28a745;
}

.info > li > span {
 padding-left: 4px;
}

.post {
  margin-bottom: 12px;
}

/* /profile */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

body > .container {
  padding: 70px 15px 0;
}

.content img {
  max-height: 200px;
  width: 200px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper .btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
}

.img-avatar {
  float: left;
  width: 96px;
  height: 96px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.fa-heart {
  font-size: 18px;
  color: #e00;
  animation: heartbeat .25s infinite alternate;
  transform-origin: center;
} 

@keyframes heartbeat{
  to {
      transform: scale(1.4); 
  }
}

/* media query */

@media screen and (max-width: 769px) {
  header {
    margin-bottom: 60px;
  }

  .navbar > .container {
    display:flex;
    justify-content: center;
  }

  #update-profile > span {
    display: none;
  }
}

@media screen and (max-width: 401px) {
  header {
    margin-bottom: 80px;
  }
}

/* /media query */