@import url('https://fonts.googleapis.com/css?family=Sarabun&display=swap');

* {
  font-family: 'Sarabun', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.navbar {
  padding: 0;
}

.jumbotron {
  background: #e2e6ea;
}

.fa {
  position: relative;
}

.active > a {
  color: blue !important;
}

.inner {
  max-width: 660px;
  margin: 0 auto;
}

.hover-secondary:hover > * {
  background-color: #eee !important;
}

/* header */
header {
  margin-bottom: 10px;
}

.divider {
  border-right: 1px solid #1e7e34; 
  height: 30px;
}

.icon-group {
  padding: 6px 12px;
  display: inline-block;
}

.dropdown {
  display:inline-block;
}

.icon-group a.icon {
  color: #fff;
  padding-left: 4px;
}

.icon-group .notify {
  position: absolute;
  top:-20%;
  right:-15%;
  width: 8px;
  height:8px;
  background: #f00;
  border-radius: 50%;
}

/* /header */

/* profile */

#timeline-top-section {
  position: relative;
  margin-top: -25px;
  margin-bottom: 200px;
  width: 100%;
  height: auto;
  color: #fff;
  background: #28a745;
}

#update-profile {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 999;
}

.timeline-profile {
  text-align: center;
  color: #333;
  width: 100%;
  position: absolute;
  top: 220px;
  z-index: 0;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-image > img {
  width: 100%;
  height: 365px;
  object-fit: unset;
}

.avatar-image > a > img {
  border: 5px solid #28a745;
}

.timeline-headline {  
  height: 100%;
}

.user-name {
 margin: 8px 0;
}

.user-name > h4, .user-name h5 {
  font-weight: 400;
}

.info {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.info > li:not(:last-child) {
  margin-bottom: 10px;
}

.info > li > .fa {
  color: #28a745;
}

.info > li > span {
 padding-left: 4px;
}

.post {
  margin-bottom: 12px;
}

/* /profile */

/* messages */
#message-wrapper {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: 0.3s all ease;
}

#message-wrapper.active {
  z-index: 1000;
  opacity: 1;
  background-color: rgba(0,0,0,0.7);
}

.message-box {
  width: 100%;
  max-width: 600px;
  height: 70%;
  max-height: 600px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

.message-box .close {
  position: absolute;
  right:0;
  cursor: pointer;
  padding: 5px 15px;
  font-size: 30px;
  font-weight: 700;
}

.message-bar {
  cursor: pointer;
}

.messages {
  overflow-y: auto;
}

.message > span {
  display: inline-block;
  max-width: 255px;
  padding: 6px 12px;
  border-radius: 16px;
  text-align: left;
}

.message.message-left {
  text-align: left;
  margin-left: 20px;  
} 

.message.message-left > .content {
  background-color: #d6d9db;
  color: #333;
} 

.message.message-right {
  text-align: right;
  margin-right: 20px;
}

.message.message-right > .content {
  background-color: #28a745;
  color: #ddd;
}
/* /messages */

/* post box */
.react-group > div {
  cursor: pointer;
}

.react-group > div:active {
  transform: translate(1px, 1px);
}
/* /post box */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

body > .container {
  padding: 70px 15px 0;
}

.content img {
  max-height: 200px;
  width: 200px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper .btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
}

.img-avatar {
  float: left;
  width: 96px;
  height: 96px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.fa-heart {
  font-size: 18px;
  color: #e00;
  animation: heartbeat .25s infinite alternate;
  transform-origin: center;
} 

@keyframes heartbeat{
  to {
      transform: scale(1.4); 
  }
}

/* media query */

@media screen and (max-width: 769px) {
  header {
    margin-bottom: 60px;
  }

  .navbar > .container {
    display:flex;
    justify-content: center;
  }

  #update-profile > span {
    display: none;
  }
}

@media screen and (max-width: 401px) {
  header {
    margin-bottom: 80px;
  }
}

/* /media query */